:root {
  --DarkGrayishMagenta: hsl(303, 10%, 53%);
  --LightGrayishMagenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);
  --VeryDarkMagenta: hsl(300, 43%, 22%);
  --SoftPink: hsl(333, 80%, 67%);
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	font-family: 'League Spartan', sans-serif;
	background-image: 
		url(../images/bg-pattern-top-mobile.svg),
		url(../images/bg-pattern-bottom-mobile.svg);
	background-repeat: no-repeat;
	background-position: top left, bottom right;
}
main {
	padding: 1.5em;
}
main .heading .info h1 {
	font-size: 2.3em;
	text-align: center;
	color: var(--VeryDarkMagenta);
	line-height: 1;
	margin-bottom: 1em;
}
main .heading .info p {
	text-align: center;
	color: var(--DarkGrayishMagenta);
	font-weight: 500;
	line-height: 1.5;
	margin-bottom: 1.8em;
}
main .heading .rating {
	margin-bottom: 1.5em;
}
main .heading .rating .rate {
	background-color: var(--LightGrayishMagenta);
	border-radius: .6em;
	margin-bottom: .5em;
	padding: 1em;
	text-align: center;
}
main .heading .rating .rate p {
	margin-top: .4em;
	font-weight: bold;
	color: var(--VeryDarkMagenta);
}
main .testimonials {
	
}
main .testimonials .review {
	background-color: var(--VeryDarkMagenta);
	color: var(--White);
	padding: 1.5em;
	margin-bottom: .5em;
	border-radius: .6em;
}
main .testimonials .review .person {
	display: flex;
	align-items: center;
	gap: 1em;
	margin-bottom: 1.2em;

}
main .testimonials .review .person img {
	border-radius: 50%;
	width: 2.5em;
}
main .testimonials .review .person .text .name {
	font-weight: bold;
	margin-bottom: .2em;
}
main .testimonials .review .person .text .status {
	color: var(--SoftPink);
}
main .testimonials .review q {
	line-height: 1.4;
	font-size: 1.1em;
}
.attribution {
	text-align: center;
}
.attribution a {
	font-weight: bold;
	text-decoration: none;
	color: var(--VeryDarkMagenta);
}
@media (min-width: 900px) {
	body {
		min-height: 100vh;
		background-image: 
			url(../images/bg-pattern-top-desktop.svg),
			url(../images/bg-pattern-bottom-desktop.svg);
		background-repeat: no-repeat;
		min-height: 100vh;
		display: grid;
		place-items: center;
	}
	main {
		width: 75em;
		margin: auto;
	}
	main .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
	}
	main .heading .info {
		margin-left: 1.2em;
	}
	main .heading .info h1 {
		width: 45%;
		font-size: 3em;
		text-align: left;
		margin-bottom: .5em;
	}
	main .heading .info p {
		width: 45%;
		text-align: left;
	}
	main .heading .rating {
		display: flex;
		flex-direction: column;
		width: 30.5em;
	}
	main .heading .rating .rate {
    display: flex;
    gap: 2em;
		justify-content: space-between;
	}
	main .heading .rating .rate:first-child {
		transform: translateX(-20%);
		-webkit-transform: translateX(-20%);
		-moz-transform: translateX(-20%);
		-ms-transform: translateX(-20%);
		-o-transform: translateX(-20%);
}
main .heading .rating .rate:nth-child(2) {
	transform: translateX(-10%);
	-webkit-transform: translateX(-10%);
	-moz-transform: translateX(-10%);
	-ms-transform: translateX(-10%);
	-o-transform: translateX(-10%);
}
	main .heading .rating .rate .stars {
    display: flex;
    align-items: center;
    gap: .3em;
		margin-left: 1em;
	}
	main .testimonials {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    justify-content: space-between;
		margin-top: 2em;
	}
	main .testimonials .review:first-child {
		transform: translateY(-20%);
		-webkit-transform: translateY(-20%);
		-moz-transform: translateY(-20%);
		-ms-transform: translateY(-20%);
		-o-transform: translateY(-20%);
	}
	main .testimonials .review:nth-child(2) {
		transform: translateY(-10%);
		-webkit-transform: translateY(-10%);
		-moz-transform: translateY(-10%);
		-ms-transform: translateY(-10%);
		-o-transform: translateY(-10%);
}
}